/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./reset.css');
@import url('./base.css');
/* @import url('./container.css'); */
/* @import url('./animations.css'); */
* {
  box-sizing: border-box;
}

body {
  padding-top: 36px;
}

.form {
  margin: 0 auto;
  margin-bottom: 32px;
}

.form label {
  margin-right: 8px;
}

.form label input {
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #808080;

  font-family: Montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
}

.form label input:hover {
  border: 1px solid #000000;
}

.form label input:focus {
  border: 1px solid #4e75ff;
}

.form button {
  border-radius: 8px;
  border: none;
  color: #ffffff;
  background: #4e75ff;
  padding: 8px 16px;

  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
}

.form button:hover {
  background: #6c8cff;
}

.gallery {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 1128px;
  gap: 24px;
  position: relative;
}

.gallery > li {
  border: 1px solid #808080;
  width: 360px;
  height: 200px;
  position: relative;
}

.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery .info-cards {
  position: absolute;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  background: #ffffff;
  width: 100%;
}

.gallery .info-card p {
  text-align: center;
}

.loader {
  width: 48px;
  height: 48px;
  border: 3px dotted #fff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}
.hidden {
  visibility: hidden;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
